.breadcrumb {
    font-size: 14px;
    color: #888;
    display: flex;
    align-items: center;
  
    &__link {
      color: #aaa;
      text-decoration: none;
      transition: color 0.2s ease-in-out;
  
      &:hover {
        color: #666;
      }
    }
  
    &__separator {
      margin: 0 8px;
      color: #ccc;
    }
  
    &__active {
      color: #105B60;
      font-weight: 600;
    } }
  